<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="10">
  <test name="Test1" >
  <parameter name="browserName" value ="chrome"></parameter>
    <classes>
      <class name="Vipitch.Login"/>
      <class name="Vipitch.Videolisting"/>
      <class name="Vipitch.CheckGIF"/>
      <class name="Vipitch.ModifyVideo"/>
      <class name="Vipitch.PurchaseVideo"/>
      <class name="Vipitch.ModifyVideo"/>
      </classes>
      </test>
      <test name="Test" >
    <parameter name="browserName" value ="firefox"></parameter>
    <classes>
      <class name="Vipitch.LoginF"/>
      <class name="Vipitch.VideolistingF"/>
      <class name="Vipitch.CheckGIFF"/>
      <class name="Vipitch.ModifyVideoF"/>
      <class name="Vipitch.PurchaseVideoF"/>
      <class name="Vipitch.ModifyVideoF"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
